################################################################################
# node_modules, etc.
################################################################################

# Node
node_modules/
bk/

# ディストリビューション
dist/

################################################################################
# OS/IDE生成, 圧縮ファイル, ログファイル, SQLファイル, etc.
################################################################################

# ドットファイル
.*

# ドットファイル例外
!.ht*
!.gitignore
!.eslintrc.json

# 動画
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mov
*.mpeg
*.mpg
*.ogg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm

# 音声
*.wav
*.mp3
*.wma

# 3DCG
*.3dm
*.max

# CMSでアップロードした画像
https/upload/

# OS (Windows)
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OS (Mac)
__MACOSX
thumbs.db

# テンポラリファイル
*.tmp

# キャッシュファイル
*.cache
*.sass-cache

# バックアップファイル
*~
*.orig
*.bak

# 圧縮ファイル
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ログ・ファイル
*.log

# SQLファイル
*.sql
*.idb

# Office
~$*
*.tmp

# コンパイルされた実行ファイル
*.com
*.class
*.dll
*.exe
*.o
*.so
*.map

# IDE, エディタ
.vscode/*
.idea
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
*.code-workspace

################################################################################
# 不要ファイル
################################################################################

mysql/data
