extends ./_template/_layout

block vars
  -
    head.title = ''
    head.slug = 'index'
    head.keywords = 'index, INDEX'
    head.description = 'インデックスなんです...'

block append head

block append style
  //- link(rel='stylesheet', href=`${ filePath }assets/css/index.css`)

block includes

block body
  main.exile
    h1 webpackでウェブサイト構築を夢見て...

    div(style='padding: 300px 0;')

    figure
      img(src='/images/2525.jpg', alt='')

block append scripts
  //- script(src=`${ filePath }assets/js/main.min.js`)
