<% dir = '../'; %>
<% pageClass = 'index'; %>
<% pageTitle = 'ページタイトル'; %>
<% description = 'ディスクリプション'; %>
<% keyword = 'キーワード,きーわーど'; %>

<!DOCTYPE html>
<html lang="ja" dir="ltr">

<% include templates/_head %>

  <body>
    <% include templates/_header %>

    <main role="main">

    </main>

    <% include templates/_footer %>

    <script type="text/javascript" src="/assets/js/main.js" defer></script>

  </body>
</html>
